@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#btnpersonas").click(function () {
                let url="https://apipersonasjam-a9dycbayfvhqbwd0.germanywestcentral-01.azurewebsites.net/";
                $.ajax({
                    url:url+ "api/personas",
                    method:"GET",
                    success:function(data){
                        console.log("Todo Funciona!!!");
                        var html="";
                        $.each(data,(function(index,persona){
                            html+="<tr>";
                            html+="<td>"+persona.idPersona+"</td>";
                            html+="<td>"+persona.nombre+"</td>";
                            html+="<td>"+persona.email+"</td>";
                            html+="<td>"+persona.edad+"</td>";
                            html+="</tr>";
                        
                        $("#tablaPersonas tbody").html(html);
                        }));
                    }
                })
            });
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">Api personas Client</h1>
    <button id="btnpersonas" class="btn btn-warning">Load Personas</button>
    <table id="tablaPersonas" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>

